#root{
}

.title {
    -fx-font-size: 20;
    -fx-border-insets: 0, 20, 0, 0;
}

#descripcionPaso {
    -fx-padding: 20,20,20,20;
}

#descripcionPaso > Label {
    -fx-font-size: 24;
}

#panelMapa {
    /*-fx-background-image: url("resources/Img_Fondo_Mapa.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;*/
}

Button {

    -fx-background-color:
            linear-gradient(#ffa735,#f13232),
            radial-gradient(center 50% -40%, radius 200%, #f7918a 45%, #f76767 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
   -fx-text-fill: #330000;
}

Button:hover
{
    -fx-background-color:
            linear-gradient(#e23c3c,#ff9735),
            radial-gradient(center 50% -40%, radius 200%, #b64b4b 45%, #d35a56 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
   -fx-text-fill: #330000;

}